<h1>Stupid Coaching</h1>
<h2>Ask your Coach anything</h2>
<form action="answer">
  <input id="input" type="text" name="question" placeholder="What is your question?">
  <input id="input"type="submit" value="Ask!">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>
